<!-- Footer -->
<footer id="footer" class="tc pv4 lh-copy white bg-dark-gradient">
  <div>NU D'Amore-McKim School of Business | USC Marshall School of Business</div>
  © The Annual Social Entrepreneurship Conference 2017
</footer>


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/velocity/1.5.0/velocity.min.js"></script> -->
<script src="https://cdn.rawgit.com/stutrek/scrollMonitor/19b8820d/scrollMonitor.js"></script>
<script src="https://cdn.rawgit.com/bigspotteddog/ScrollToFixed/a2f9dc0d/jquery-scrolltofixed.js"></script>
<!-- <script src="https://cdn.rawgit.com/ajlkn/jquery.scrollex/cc3e7490/jquery.scrollex.min.js"></script> -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
