---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

.hidden:not(.active) {
  display: none;
}

.fancy-strike {
  position: relative;
  display: inline-block;
  
  &:before { left:  -38px; }
  &:after  { right: -38px; }
  
  &:before, &:after {
    content: "";
    position: absolute;
    height: 2px;
    background: #4b4b4b;
    width: 30px;
    top: .6em;
  }
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.strong, strong {
  font-weight: bold;
}

.cover__exterior {
  min-height: 400px;
  height: 93vh;
}

.cover__interior {
  min-height: 400px;
  position: absolute;
  // top: 0;
  left: 0;
  width: 100%;
  height: 93vh;
  overflow: hidden;
}


// .cover__interior--overlay {
//   z-index: 0;
//   background-image: linear-gradient(
//     45deg, 
//     rgba(87, 6, 140, 0.4), 
//     rgba(16, 11, 192, 0.4)
//   );
// }


sidebar {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }
}

.section-flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.section-flex__center {
  flex: 1;
}

.section-flex__side {
  // flex-basis: 25%;
}

.hover-b--inherit:hover {
  border-color: inherit;
}


.speaker-container-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.speaker-container {
  min-width: 150px;
  cursor: pointer;
  &:hover .img-container__img,
  &.active .img-container__img {
    filter: none;
  }
}


.img-container {
  position: relative;
  border: 8px solid transparent;
  border-radius: 2px;
  // background: white;
  background-clip: padding-box;
  // padding: 0;
  // width: 214px;
  // margin: 0;
  // display: inline-block;
}

.img-container::after {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: linear-gradient(to bottom left, #3acfd5 0%, #3a4ed5 100%);
  content: '';
  z-index: -1;
  border-radius: 2px;
}

.img-container__img {
  filter: grayscale(1);
  display: block;
  margin: 0;
  border-radius: 2px;
  // height: 250px;
  padding: 0;
  // object-fit: cover;
  // width: 100%;
} 

// rgba(226, 60, 99, 0.4),     rgba(145, 58, 252, 0.4),  original
// rgba(87, 6, 140, 0.4)
