---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');
@import "tachyons";
@import "tachyons_debug";

html, body { margin: 0; height: 100%; }
// * { box-sizing: border-box; }
  

/* Mixins */
@mixin extends($list...) {
  @each $type in $list {
    @extend .#{$type}; // use !optional if it should be able to fail
  }
}

@mixin not-small {
  @media screen and (min-width: 30em) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 30em) {
    @content;
  }
}




/* New Tachyons */
.w4_5 {
  width: 12rem;
}

.indent-p {
  p:first-of-type {
    text-indent: 1em;
  }
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #bb7c7d;
}

.strong, strong {
  font-weight: bold;
}

.hover-b--inherit:hover {
  border-color: inherit;
}

.bg-whitish { 
  background-color: #f4f2f0;
}

.bg-dark-gradient {
  background-image: linear-gradient(
    45deg, 
    #492c2d,
    #9d5f61
  ); 
}

.bg-light-red {
  background-color: rgba(255,232,232,0.35);
}

.bg-globe {
  background-image: url({{ site.url }}{{ site.baseurl }}/uploads/logo-globe.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 65vw;
}





/* Panel */
.panel {
  min-height: 100vh;
  background-color: #f4f2f0;

  @include small {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.panel-dark {
  background-color: #492c2d;
  color: #f4f2f0;
}




/*  Intro */
.intro-shadow {
  text-shadow: 2px 2px 2px #191919;
}
.intro-box-shadow {
  box-shadow: 0px 1px 1px 2px rgba(25, 25, 25, 0.27);
  text-shadow: 1px 1px 4px rgba(25, 25, 25, 0.74);
}

.logo-container {
  max-height: 480px;
  width: 640px;
  margin: auto;

  @include small {
    width: 360px;
  }
}

#logo {
  filter:drop-shadow( 4px 4px 5px #000 );
  width: 100%;
}

.cover__exterior {
  min-height: 800px;
  height: 93vh;
}

.cover__interior {
  min-height: 400px;
  position: absolute;
  // top: 0;
  left: 0;
  width: 100%;
  height: 93vh;
  overflow: hidden;
}



/* Section */
sidebar {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }
}

.hidden:not(.active) {
  display: none;
}

.section-flex-container {
  @include extends(flex-column-ns);

  display: flex;
  justify-content: space-around;

  flex-direction: column;

  @include not-small {
    flex-direction: row;
  }
}

.section-flex__center {
  flex: 1;
}

.section-flex__side {
  flex-shrink: 0;
}

.section-container {
  @include extends(center-ns, mw-100, mh1, mw8-ns, pv4, f3);
}


.section-content {
  @include extends(lh-copy, fw3, f4);

  a {
    color: #bb7c7d;
  }
}

.section-title {
  @include extends(fw6, pt2, pb1, f6, ttu);
}

.tab-titles .tab-title {
  @include extends(pointer, bb, b--transparent);
  border-bottom-width: 2px;

  &.section-title {
    @include extends(mh1, ph1);
  }

  &:hover {
    @include extends(b--black-60);
  }

  &.active {
    @include extends(b--black-90);
  }

  .panel-dark &:hover {
    @include extends(b--white-90);
  }

  .panel-dark &.active {
    @include extends(b--white-90);
  }
}


/* Speakers */
.img-wrapper {
  // needs height and width, provided inline
  overflow: hidden;
  img {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
  }
}

.section-flex-container__speaker {
  article, sidebar, div {
    z-index: 100;
  }
}

.cover-cover__masonry {
  position: absolute;
  height: 100%;
  width: 100%;
}

.masonry {
  line-height: 3rem;
  column-gap: 1rem;
  column-fill: initial;
  column-count: 2;
  .brick {
    margin: 0;
    width: 100%; 
    border-radius: 2px;
  }
  .brick img {
    filter: grayscale(1);
  }
}





/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  z-index: 1001;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.reg-links {
  @include small {
    flex-direction: column;
  }
}



