---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

.fancy-strike {
  position: relative;
  display: inline-block;
  
  &:before { left:  -38px; }
  &:after  { right: -38px; }
  
  &:before, &:after {
    content: "";
    position: absolute;
    height: 2px;
    background: #4b4b4b;
    width: 30px;
    top: .6em;
  }
}

.nunito {
  font-family: 'Nunito', sans-serif;
}
